KAFKA_HOST=CHANGE_ME.mdb.yandexcloud.net
KAFKA_PORT=9091
KAFKA_CONSUMER_USERNAME=CHANGE_ME
KAFKA_CONSUMER_PASSWORD=CHANGE_ME
KAFKA_STG_CONSUMER_GROUP=stg-service-consumer-group
KAFKA_DDS_CONSUMER_GROUP=dds-service-consumer-group
KAFKA_CDM_CONSUMER_GROUP=cdm-service-consumer-group
KAFKA_ORDER_SERVICE_ORDERS_TOPIC=order-service_orders
KAFKA_STG_SERVICE_ORDERS_TOPIC=stg-service-orders
KAFKA_DDS_SERVICE_ORDERS_TOPIC=dds-service-orders

REDIS_HOST=CHANGE_ME.mdb.yandexcloud.net
REDIS_PORT=6380
REDIS_PASSWORD=CHANGE_ME

PG_WAREHOUSE_HOST=CHANGE_ME.mdb.yandexcloud.net
PG_WAREHOUSE_PORT=6432
PG_WAREHOUSE_DBNAME=CHANGE_ME
PG_WAREHOUSE_USER=CHANGE_ME
PG_WAREHOUSE_PASSWORD=CHANGE_ME

CERTIFICATE_PATH=/home/usoltsev/.cert/YandexInternalRootCA.crt